{% extends 'base.html' %}
{% block content %}
<h1>This is the Contact Page</h1>
<p>This is a template</p>

<p>
    <!--context variable meaning what variables did we pass-->
    {{ my_text }}, {{ my_number }}
    {{ my_list
</p>

<ul>
    <li>
        Item 1
    </li>
    <li>
        Item 2
    </li>
</ul>

<!-- this will loop through a list to be able to use in a template -->
{% for my_sub_item in my_list %}
<ul>
    <li>
        Item {{ forloop.counter }}: {{ my_sub_item }}
    </li>
</ul>
{% endfor %}

{% endblock %}

